header
{
	position: relative;

	background-image: url('http://24.media.tumblr.com/2c722325ca7c9478106390e042b39a86/tumblr_muufygTpDc1sfie3io1_1280.jpg');
	background-size: cover;
	background-position: center;

	height: 300px;

	.logo
	{
		color: BLACK;

		&:hover
		{
			color: $red;
		}
	}

	h1
	{
		position: absolute;
		bottom: 55px;
		left: $gutter;

		display: inline;
		background-color: WHITE;

		padding: 5px $gutter;
	}

	nav
	{
		position: absolute;
		left: -1px; right: -1px;
		bottom: 0;

		font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
		font-size: .8em;
		font-weight: 300;
		text-transform: uppercase;

		&.fixed
		{
			position: fixed;
			top: 0; bottom: auto;

			height: 45px;

			.nav
			{
				border-bottom: 2px solid RED;
			}
		}

		.nav
		{
			padding: 0; margin: 0;

			display: table;
			table-layout: fixed;
			border-spacing: 1px 0;
			width: 100%;
			list-style-type: none;

			background-color: WHITE;

			li
			{
				display: table-cell;
				height: 45px; max-height: 45px;

				background-color: white;
				text-align: center;

				&:hover, &.active
				{
					background-color: $red;

					a
					{
						color: WHITE;
					}
				}

				a
				{
					display: block;
					height: 100%; width: 100%;
					color: $red;

					text-decoration: none;

					line-height: 45px;
				}

				.subNav
				{
					display: none;
					width: 100%;
					padding: 15px 10px; margin: 0;

					position: absolute;
					left: 1px; right: 0px;

					background-color: $red;

					&.shown, &:hover
					{
						display: block;
					}

					li
					{
						display: block;
						height: auto;

						text-align: left;
						background-color: RED;

						a
						{
							display: inline;

							line-height: 1.8em;

							border-bottom: 1px dotted WHITE;

							&:hover
							{
								border-bottom: 0;
							}
						}
					}
				}
			}
		}
	}
}